header {
    width: 100%;
    padding: 0 20px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// Início Estilização dos Ícones
.header-icons {
    display: flex;
    gap: 14px;
}

.header-icons i {
    color: var(--white-normal);
}

.header-icons a:hover {
    i {
        color: var(--red-light);
        animation: translateY 0.8s infinite alternate;
    }
}

@keyframes translateY {
    from {
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(-6px) scale(1.1);
    }
}
// Fim Estilização dos ícones

// Início estilização do Botão
.header-button {
    border: 1px solid var(--white-normal);
    padding: 8px 24px;
    border-radius: 4px;
    color: var(--white-normal);
    background-color: transparent;
    transition: background-color 0.8s;
}

.header-button:hover {
    border: 1px solid var(--red-light);
    background-color: var(--red-light);
}
// Fim estilização do Botão

// Início Estilização logo
.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}
// Fim Estilização Logo

// Início Responsividade
@media screen and (max-width: 768px) {
    .header-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i {
            margin-top: 1rem;
            font-size: 2rem;
        }
    }

    .header-logo img {
        width: 160px;
        margin-top: 2rem;
    }

    .header-button {
        display: none;
    }
}
// Fim Responsividade